// Colors
:root {
    --bg-main-1: #fafafa;
    --bg-main-2: #25293a;
    --bg-card-1: #ffffff;
    --bg-card-2: #5175ff;
    --bg-btn-1: #5175ff;
    --bg-btn-1--hover: #829cff;
    --bg-btn-2: #5175ff26;
    --bg-btn-2--hover: #829cff40;
    --bg-btn-3: #ffffff;
    --font-main-1: #333950;
    --font-main-2: #747b95;
    --font-light: #ffffff;
    --font-highlight: #5175ff;
    --font-highlight--hover: #829cff;
    --font-error: #f05b5b;
}

// Fonts
$font-family: "Kumbh Sans", sans-serif;
$font-regular: 400;
$font-bold: 700;

// Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;
