@use "./../01-abstracts/" as a;

.countdown {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__title {
    margin-bottom: 18px;
    color: var(--font-light);
  }

  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 13px;
    margin-bottom: 40px;
  }

  &__card {
    background-color: var(--bg-countdown);
    color: var(--font-light);
    width: 72px;
    height: 92px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 1px;
    border-radius: 4px;
  }

  &__number {
    font-weight: a.$font-bold;
    font-size: a.rem(32px);
    line-height: 48px;
  }

  &__date {
    font-size: a.rem(12px);
    font-weight: a.$font-bold;
    opacity: 0.5;
    text-transform: lowercase;
  }

  &__btn {
    margin-left: 0;
    margin-right: 0;
  }

  // Tablet
  @include a.breakpoint(a.$md) {
    &__title {
      margin-bottom: 8px;
    }

    &__container {
      gap: 16px;
      margin-bottom: 48px;
    }

    &__card {
      width: 100px;
      height: 128px;
      padding-top: 2px;
      border-radius: 13px;
    }

    &__number {
      font-size: a.rem(56px);
      margin-bottom: 5px;
    }

    &__date {
      font-size: a.rem(16px);
    }
  }

  // Desktop
  @include a.breakpoint(a.$lg) {
    flex-direction: row;
    justify-content: space-between;

    &__container {
      margin-bottom: 0;
    }

    &__title {
      text-align: left;
      margin-bottom: 0;
    }
  }
}

// Signup Countdown
.countdown--signup {
  margin-bottom: 64px;

  & .countdown {
    &__title {
      color: var(--font-main-1);
    }

    &__container {
      margin-bottom: 0;
    }

    &__card {
      background-color: var(--bg-countdown--alt);
    }

    &__number {
      color: var(--font-highlight);
    }

    &__date {
      color: var(--font-main-1);
    }
  }

  // Tablet
  @include a.breakpoint(a.$md) {
    margin-bottom: 104px;
  }

  // Desktop
  @include a.breakpoint(a.$lg) {
    flex-direction: column;

    & .countdown {
      &__title {
        text-align: center;
      }
    }
  }

  @include a.breakpoint(a.$x-lg) {
    margin-bottom: 0;
    flex-direction: row;

    & .countdown {
      &__title {
        text-align: left;
      }
    }
  }
}
