@use "./../01-abstracts/" as a;

.home-content {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 64px;
  margin-bottom: 100px;

  &__main {
    max-width: 345px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 24px;
  }

  &__btn {
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  }

  &__charts {
    max-width: 172px;
    max-height: 192px;
  }

  // Tablet
  @include a.breakpoint(a.$md) {
    flex-direction: row;
    text-align: left;
    gap: 63px;
    margin-bottom: 140px;

    &__btn {
      margin-left: 0;
    }

    &__charts {
      max-width: 281px;
      max-height: 314px;
    }
  }

  // Desktop
  @include a.breakpoint(a.$lg) {
    margin-bottom: 184px;

    &__main {
      max-width: 540px;
    }

    &__description {
      margin-bottom: 32px;
    }

    &__charts {
      max-width: 475px;
      max-height: 531px;
    }
  }
}
