@use "./../01-abstracts/" as a;

.pattern-side {
  background-color: var(--bg-main-2);
  width: 100vw;
  height: 320px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  &__img {
    position: absolute;
    max-width: unset;
    width: 1202px;
    height: 1202px;
    top: -408px;
    left: calc((1202px - 100vw) / (-2));
  }

  // Tablet
  @include a.breakpoint(a.$md) {
    height: 380px;
  }

  &__img {
    width: 1454px;
    height: 1454px;
    top: -537px;
    left: calc((1454px - 100vw) / (-2));
  }
}
