@use "./../01-abstracts/" as a;

.pricing {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  margin-bottom: 100px;

  &__card {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
  }

  &__content {
    margin-bottom: 56px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__price {
    margin-bottom: 8px;
  }

  &__description {
    color: var(--font-main-1);
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__card--alt {
    position: relative;
    background-color: var(--bg-card-2);
    color: var(--font-light);
    overflow: hidden;

    & .pricing {
      &__title,
      &__price .big,
      &__description {
        color: var(--font-light);
      }

      &__bg {
        max-width: unset;
        position: absolute;
        width: 880px;
        top: -379px;
        left: calc((880px - 100%) / (-2));
      }
    }
  }

  // Tablet
  @include a.breakpoint(768px) {
    text-align: left;
    gap: 24px;

    &__card {
      padding: 48px;
      flex-flow: row wrap;
    }

    &__content {
      width: calc(400px - 48px);
      margin-bottom: 24px;
      min-width: 50%;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__price {
      margin-bottom: 4px;
    }

    &__list {
      margin-top: calc(92px - 48px);
      margin-bottom: 0;
      min-width: 40%;
    }

    &__btn {
      margin-left: 0;
    }

    &__card--alt {
      & .pricing {
        &__bg {
          top: -282px;
          left: -319px;
        }
      }
    }
  }

  // Desktop
  @include a.breakpoint(a.$lg) {
    text-align: center;
    gap: 30px;
    flex-direction: row;
    margin-bottom: 82px;

    &__card {
      max-width: 350px;
      padding: 40px;
      flex-flow: column nowrap;
      flex-grow: 1;
    }

    &__content {
      width: unset;
      margin-bottom: 56px;
      // min-width: 50%;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__price {
      margin-bottom: 8px;
    }

    &__list {
      margin-top: 0;
      margin-bottom: 32px;
    }

    &__btn {
      margin-left: auto;
    }

    &__card--alt {
      & .pricing {
        &__bg {
          top: -379px;
          left: calc((880px - 100%) / (-2));
        }
      }
    }
  }
}
