@use "./../01-abstracts/" as a;

.sign-content {
  text-align: center;

  &__title {
    margin-bottom: 16px;
  }

  &__description {
    max-width: 573px;
    margin: auto auto 64px;
  }

  // Tablet
  @include a.breakpoint(a.$md) {
    &__description {
      margin-bottom: 40px;
    }
  }
}
