html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
}

svg {
    fill: currentColor;
}
