@use "../01-abstracts/" as a;

.header {
  position: relative;
  text-align: center;
  margin-bottom: 80px;

  &__bg {
    max-width: unset;
    position: absolute;
    width: 458px;
    top: -216px;
    left: calc((458px - 100%) / (-2));
    z-index: -1;
  }

  // Tablet
  @include a.breakpoint(a.$md) {
    margin-bottom: calc(104px + 72px);
    text-align: left;

    &__bg {
      width: 666px;
      top: -164px;
      left: unset;
      right: calc(-293px - 40px);
    }
  }
}
