@use "../01-abstracts/" as a;

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 46px 24px 100px;
  position: relative;
  z-index: 1;

  // Tablet
  @include a.breakpoint(a.$md) {
    padding: 72px 40px 100px 39px;
  }

  // Desktop
  @include a.breakpoint(a.$lg) {
    padding: 81px 40px 91px;
    max-width: calc(1110px + (40px * 2));
  }
}

.wrapper.wrapper--signup {
  padding-bottom: 87px;

  // Tablet
  @include a.breakpoint(a.$md) {
    padding-bottom: 126px;
  }
}
