@use "../01-abstracts/" as a;

.input,
.select {
  width: 100%;
  height: 45px;
  padding: 0 0 17px 16px;
  border: none;
  border-bottom: var(--border) 1px solid;

  &--error {
    color: var(--font-error);
    border-bottom-color: var(--font-error);
    background-image: url("./../../../assets/sign-up/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-position: calc(100% - 21px) 3px;
  }
}

.input {
  &::placeholder {
    color: var(--font-main-2);
  }
}

.select {
  font-weight: a.$font-bold;
  color: var(--font-main-1);
  appearance: none;
  background-image: url("./../../../assets/sign-up/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-position: calc(100% - 25px) 11px;
}

// Dropdown
/* Select styling */

.select__active {
  // border-color: red;
  // border-bottom-left-radius: 0px !important;
  // border-bottom-right-radius: 0px !important;
}

.select__placeholder {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
}

.select:hover {
  cursor: pointer;
}

.dropdown-placeholder {
  font-weight: 700;
  color: var(--font-main-2);
}

.select__selected {
  color: var(--font-main-1);
}

/* Dropdown styling */
.dropdown-structure {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // height: 200px;
  // width: 280px;
  top: 8px;
  // overflow: scroll;
  background-color: var(--bg-card-1);
  // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  // padding: 10px 0;
  z-index: 2;
  border: 1px solid rgba(51, 57, 80, 0.153273);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  border-radius: 8px;
  padding: 24px 39px 24px 32px;
}

.dropdown-structure > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding: 16px;
}

.dropdown-structure > div:hover {
  // background-color: var(--colorAccent);
  // color: white;
  cursor: pointer;
}

.dropdown-structure > div > h5 {
  font-weight: 600;
  margin-right: 4px;
}

.dropdown-structure > div > p {
  font-weight: 400;
  font-size: 13px;
  color: var(--colorPlaceholder);
}
