@use "../01-abstracts/" as a;

.input,
.select {
  width: 100%;
  height: 45px;
  padding: 0 0 17px 16px;
  border: none;
  border-bottom: var(--border) 1px solid;

  &--error {
    color: var(--font-error);
    border-bottom-color: var(--font-error);
    background-image: url("./../../../assets/sign-up/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-position: calc(100% - 21px) 3px;
  }
}

.input {
  &::placeholder {
    color: var(--font-main-2);
  }
}

.select {
  font-weight: a.$font-bold;
  color: var(--font-main-1);
}
